<footer class="site-footer h-card">
    <data class="u-url" href="{{ " /" | relative_url }}"></data>

    <div class="wrapper">

        <h2 class="footer-heading">&nbsp;</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    {%- if site.email -%}
                    <li>
                        <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </li>
                    {%- endif -%}
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                {%- include social.html -%}
            </div>

            <div class="footer-col footer-col-3">
                <p>{{- site.description | escape -}}</p>
                <p>rust_yolu hakkında soru ve önerileriniz icin <a class="u-email" href="https://github.com/dengere/rustacean"><b>GitHub depomda</b></a> bir issue açın. </p>
                <p>Kurslar hakkında sorulariniz ve bilgi almak için adresim <a class="u-email" href="mailto:{{ site.email }}"><b>{{ site.email }}</b></a>.</P>
            </div>
        </div>

    </div>

</footer>