---
layout: default
---

<h1 class="text-body-emphasis">{{ page.title | escape }}</h1>
<p class="text-success">{{ page.title | escape }}, <a href="{{ page.subject_permalink | relative_url }}">{{ page.subject | escape }}</a> serisinin bir kursudur.</p>

<div class="col-md-10">
    <p class="fs-4"> {{page.excerpt}} </p>
</div>
<hr class="col-3 col-md-2 mb-3">

<p class="col-md-10 mb-3"> {{page.overview}} </p>

<div class="row g-5">
    <!-- Hedefler -->
    <div class="col-md-6 text-body-emphasis">

        <h2>Hedefler</h2>
        <p>Bu kursun sonunda katılımcı</p>
        <ul>
            {%- for subject in page.goals -%}
            <li>{{ subject | escape }}</li>
            {%- endfor -%}
        </ul>
        <h2>Katılımcı Profili</h2>
        <ul>
            {%- for subject in page.audiances -%}
            <li>{{ subject | escape }}</li>
            {%- endfor -%}
        </ul>
        <h2>Sure ve Format</h2>
        <ul>
            {%- for subject in page.methodology -%}
            <li>{{ subject | escape }}</li>
            {%- endfor -%}
            
        </ul>
        <p>Kursun süresi, katılımcıların hızına ve ihtiyaçlarına göre esneklik gösterebilir.</p>
        {%- if page.warning -%}
        <h2>Uyarılar</h2>
        <p>{{ page.warning }}</p>
        {%- endif -%}
        <p>Kurs konu başlıkları listelenmiştir, ancak eğitim sırasında konuların sıralaması eğitmenin takdirine bağlı olarak değiştirilebilir.</p>
        


    </div>
    <div class="col-md-6 text-body-emphasis">
        <h2>Kurs Konuları</h2>
        {{ content }}
        <p>Baslik sonunda yer alan (*) konunun giris duzeyininde islendigini gosterir.</p>
    </div>
</div>

<hr class="col-3 col-md-2 my-3">

