---
layout: default
---
<div class="py-2">
    <h1>{{ page.title }}</h1>
    <p class="lead">{{ page.excerpt}}</p>
    <p>{{ page.overview }}</p>
</div>

<div class="bd-content">

    <!-- Hedefler -->
    <h4>Hedefler</h4>
    Bu kursun sonunda katılımcı:
    <ul>
        {%- for subject in page.goals -%}
        <li>{{ subject | escape }}</li>
        {%- endfor -%}
    </ul>

    <h4>Katılımcı Profili</h4>
    <ul>
        {%- for subject in page.audiances -%}
        <li>{{ subject | escape }}</li>
        {%- endfor -%}
    </ul>

    <h4>Kurs İçeriği</h4>
    <hr />
    <div class="course_content">
        {{ content }}
    </div>
    <p>Baslik sonunda  yer alan (*) konunun giris duzeyininde islendigini gosterir.</p>
    <hr />

    <h4>Yöntem</h4>
    <ul>
        <li>Etkileşimli ders ve tartışmalar.</li>
        <li>Pratik alıştırma ve projeler.</li>
    </ul>

    <h4>Gerekenler</h4>
    <ul>
        <li>Online toplanti icin gerekli ortam.</li>
        <li>VS Code.</li>
    </ul>

    <h4>Notlar</h4>
    <ul>
        <li>Konu başlıkları yukarıda listelenmiştir, ancak eğitim sırasında konuların sıralaması
            eğitmenin takdirine bağlı olarak değiştirilebilir.</li>
        <li> Kursun süresi yaklaşık <strong>{{ page.period }} saat</strong> planlanmıştır. Bu süre, katılımcıların
            hızına ve ihtiyaçlarına göre esneklik gösterebilir
        </li>
    </ul>

</div>