---
layout: default
---

<div class="home">
  {%- if page.caption -%}
  <h1 class="page-heading">{{ page.caption }}</h1>
  {%- endif -%}

  {{ content }}

  <!-- posts -->

  {%- if page.category == "anounce" -%}

  {%- if site.posts.size > 0 -%}
  <ul class="post-list">

    {%- for post in site.posts -%}

    {%- if post.category == "anounce" -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <!-- {%- if site.show_excerpts -%} -->
      {{ post.excerpt }}
      <!-- {%- endif -%} -->
      <a class="page-link" href="{{ post.url | relative_url }}"> Devam...</a>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

  {%- endif -%}

  <!-- courses -->

  {%- if page.category == "course" -%}

  {%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {%- for post in site.posts -%}

    {%- if post.category == "course" -%}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
      <a class="post-link" href="{{ post.url | relative_url }}"> Devam...</a>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
  {%- endif -%}

  {%- endif -%}

</div>