---
layout: default
---

<div class="py-2">
    <h1 class="text-dark-emphasis"><strong>Rust</strong>gele ile işiniz rast gider</h2>
        <p class="lead text-dark-emphasis fw-semibold">Rust ile programlama dünyasında girin! Eğitim serilerimiz, hem yeni başlayanlar
            hem de deneyimli yazılımcılar için Rust dilini öğrenmenin ve uygulamanın en etkili yolunu sunuyor. </p>
</div>

{% assign homecourses = site.pages | where: "layout", "homecourse" | sort: 'sortorder' %}
{% assign courses = site.pages | where: "layout", "course" | sort: 'sortorder' %}

<div class="bd-content">
    {%- for homecourse in homecourses -%}
    <h3 class="text-dark-emphasis">{{ homecourse.title | escape }}</h3>
    <p>{{ homecourse.excerpt }}
        <!-- <a href="{{ homecourse.url | relative_url }}">Detayli bilgi...</a> -->
    </p>
    <ul>
        {% assign pages = site.pages | where: "layout", "course" | sort: 'sortorder' %}
        {%- for post in pages -%}
        {%- if post.topic == homecourse.topic -%}

        <li>
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
        {%- endif -%}
        {%- endfor -%}
    </ul>
    {%- endfor -%}
</div>