---
layout: default
---
<div class="home">

  {%- include anounces.html -%}

  {{ content }}

  {% assign sortedPostsRaw = site.posts | where: "category", "course" %}
  {% assign sortedPosts = sortedPostsRaw | sort: 'sortkey' %}

  <ul class="post-list">
    {%- for post in sortedPosts -%}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

</div>