---
layout: default
---

<h1 class="text-body-emphasis pt-3"> <a class="h2 icon-link  mb-2" 
    href="{{ "about/" | relative_url }}" />
    <i class="bi bi-arrow-right-circle pb-4"></i></a>
    Rust ile programlayın!
</h1>
<p class="fs-5 col-md-8 pt-3"> Eğitim serilerimiz, hem yeni başlayanlar hem de deneyimli yazılımcılar için Rust programlama
    dilini öğrenmenin ve uygulamanın en etkili yolunu sunuyor. </p>

<hr class="col-3 col-md-2 mb-5">



{% assign homecourses = site.pages | where: "layout", "homecourse" | sort: 'sortorder' %}
{% assign courses = site.pages | where: "layout", "course" | sort: 'sortorder' %}


<div class="row g-5">
    {%- for homecourse in homecourses -%}
    <div class="col-md-6">

        <h2 class="text-body-emphasis">

            <a class="icon-link link-underline-opacity-25 link-underline-dark mb-2"
                href="{{ homecourse.url | relative_url }}">
                <i class="bi bi-arrow-right-circle pb-4"></i>
            </a>
            {{ homecourse.title | escape }}
        </h2>
        <p> {{ homecourse.excerpt }}
        </p>
        <ul class="list-unstyled ps-0">
            {% assign pages = site.pages | where: "layout", "course" | sort: 'sortorder' %}
            {%- for post in pages -%}
            {%- if post.topic == homecourse.topic -%}
            <li>
                <a class="icon-link mb-2" href="{{ post.url | relative_url }}">
                    <i class="bi bi-arrow-right-circle-fill pb-4"></i>
                    {{ post.title | escape }}
                </a>
            </li>
            {%- endif -%}
            {%- endfor -%}
        </ul>
    </div>
    {%- endfor -%}
</div>