---
layout: default
---

<h1 class="text-body-emphasis">{{ page.title | escape }}</h1>
<p class="text-success">{{ page.title | escape }}, <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> kurs serilerinden birisidir.
</p>
<div class="col-md-8">
  <p class="fs-4"> {{page.excerpt}} </p>
</div>
<hr class="col-3 col-md-2 mb-5">

<div class="row g-5">
  <p> {{page.info}} </p>
  <div class="fw-light">{{ content }}</div>
</div>

<div class="row g-5">
  {% assign pages = site.pages | where: "layout", "course" | sort: 'sortorder' %}
  {%- for post in pages -%}
  {%- if post.topic == page.topic -%}
  <div class="col-md-6">
    <h2 class="text-body-emphasis">
      <a class="icon-link link-underline-opacity-25 link-underline-dark mb-2" href="{{ post.url | relative_url }}"><i
          class="bi bi-arrow-right-circle pb-4"></i> </a>
      {{ post.title | escape }}
    </h2>
    <p> {{ post.excerpt }} </p>
  </div>
  {%- endif -%}
  {%- endfor -%}

</div>